/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

.container, .container_general, .container_1, .container_2, .container_3, .container_4 {
    width: 100%;
    margin: 0;
    padding: 0;
}
/*Background*/

.container_00 {
	background: linear-gradient(rgb(0,0,0), 75%, rgb(0, 162, 255)) !important;
}

/*Cabezera*/

header {
    background-image: radial-gradient(circle, rgb(0, 162, 255),rgb(0, 0, 0)); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px; 
    margin: 0;
    padding: 0 20px;  
    border-radius: 25px; 
}

header .logo {
    height: 100%; 
    display: flex;
    align-items: center; 
    margin: 0;
}

header .logo a {
    height: 100%; 
    display: flex;
    align-items: center;
    text-decoration: none; 
}

header .logo a img {
    max-height: 100%; 
    width: auto;  
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Textos*/
.textosobremi{
    background: -webkit-linear-gradient(rgb(247, 247, 239),rgb(0, 162, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato; 
    text-align: left;
    font-size: 34px;
}
.textosobre{
    background: -webkit-linear-gradient(rgb(182, 235, 246),rgb(0, 162, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
    text-align: left;
    font-size: 18px;
}
.momentos{
    background: -webkit-linear-gradient(rgb(124, 231, 248),rgb(0, 162, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
    text-align: center;
    font-size: 34px;
}
.imagen_2{
    max-width: 650px;
    max-height: 450px;
    border-radius: 18px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}
.custom-column {
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.custom-image {
    width: 450px; 
    height: 300px !important; 
}
.custom-image-2 {
    width: 350px; 
    height: 475px !important; 
}
.custom-text {
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.sobremas{
    background: -webkit-linear-gradient(rgb(0, 35, 55),rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato; 
    text-align: center;
    font-size: 28px;
}

.imagen_3{
    border-radius: 18px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}
/*Boton*/
.btn-contactame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: #000000; 
    color: white; 
    text-align: center;
    border-radius: 5px; 
    font-size: 20px; 
    font-weight: bold; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn-contactame:hover, .btn-contactame:focus {
    background-color: #272727; 
    color: #ffffff;
    text-decoration: none;
}

.btn-contactame:visited {
    color: rgb(0, 162, 255);
}

/* Animaciones */

/*Animación de las imágenes al cargar la página*/

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.imagen_2 {
    animation: slideFromLeft 1s ease-out forwards;
}

.textosobre, .textosobremi {
    animation: slideFromRight 1s ease-out forwards;
}

/*Animación de las imágenes al bajar la página*/

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;

    }
}
.custom-image{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 35% cover 60%;
    animation-fill-mode: both;
}
.imagenes{
    width: 600px !important;
    height: 500px !important;
}
.slider-frame {
    width: 90%;
    height: auto; 
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.slider-frame ul {
    display: flex;
    padding: 0;
    margin: 0;
    animation: slide 18s infinite linear alternate; 
}

.slider-frame li {
    flex: 0 0 auto; 
    margin-right: 5; 
    list-style: none;
}

.slider-frame img {
    width: 100%; 
}

@keyframes slide {
    0% { transform: translateX(0); } 
    100% { transform: translateX(-100%); } 
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}